body {
  background-color: #27404A;
}

img.logo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;

  max-width: 100%;
  height: auto !important;
}
